@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "ExpoBold";
  src: url("/src/assets/fonts/EXPOARABIC-BOLD.OTF") format("opentype");
}

body {
  font-family: "ExpoBold";
  background-color: #FCFDF2;
}
